{% for AAA in bbb %}
aaa authentication login {{ AAA.method_list }} group {{ AAA.group2 }} {{ AAA.group }}
aaa authentication login {{ AAA.method_list }} group {{ AAA.group }} {{ AAA.group2 }}
{% endfor %}
